<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="separator" type="lsep" label="Streaming Server Setup"/>
	<setting id="streaming_setup" type="text" label="Primary Streaming Server Settings" default="" enable="false"/>
	<setting id="streaming_ip" type="text" label="IP or Multcast Address:" default="224.1.1.152"/>
	<setting id="streaming_port" type="integer" label="UDP/TCP Port:" default="1152"/>
	<setting id="vlc_loc" type="text" label="Path to VLC Executable:" default="/usr/bin/vlc"/>
	<setting id="separator" type="lsep" label=""/>
	<setting id="separator" type="lsep" label="Video Streaming Settings"/>
	<setting id="video_streaming" type="text" label="Parameters that will be used for Video Streaming" default="" enable="false"/>
	<setting id="video_sout" type="text" label="SOUT Info:" default="--sout=#duplicate{dst=std{access=udp,mux=ts,dst=224.1.1.152:1152}}"/>
	<setting id="video_fc" type="integer" label="File Caching (ms):" default="10"/>
	<setting id="separator" type="lsep" label=""/>
	<setting id="separator" type="lsep" label="Audio Streaming Settings"/>
	<setting id="audio_streaming" type="text" label="Parameters that will be used for Audio Streaming" default="" enable="false"/>
	<setting id="audio_sout" type="text" label="SOUT Info:" default="--sout=#duplicate{dst=std{access=udp,mux=ts,dst=224.1.1.152:1152}}"/>
	<setting id="audio_fc" type="integer" label="File Caching (ms):" default="10"/>
	<setting id="separator" type="lsep" label=""/>
	<setting id="separator" type="lsep" label="Misc Settings"/>
	<setting id="thumbs_path" type="folder" source="files" label="30001" default="special://profile/UserData/Thumbnails/Programs" />
	<setting id="search_engine" type="fileenum" mask="/" values="resources\search_engines\" label="30002" default="Yahoo" />
</settings>
